.manage-user {
  padding-top: 4px !important;
}

.manage-user .btn-simple.btn-icon {
  padding: 3px;
}

.manage-user .table-hover>tbody>tr {
  background: transparent !important;
}

.manage-user .table-hover>tbody>tr:hover {
  background-color: #f5f5f5 !important;
}

.manage-user .managa-user-list-img {
  width: 100px !important;
  min-width: 100px !important;
  height: 100px !important;
}

.manage-user .pagination-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.manage-user .radio-width {
  width: 100px;
}

.before-load {
  visibility: hidden;
}

.after-load {
  visibility: visible;
}

.text-tranform-normal {
  text-transform: none;
}

.application-width-account-title {
  display: inline-block;
  width: 100px;
  margin-right: 8px;
  text-align: right;
}