@media (min-width: 992px) {
    .typo-line {
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }
    .typo-line .category {
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

#map {
    position: relative;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 70px;
}

.places-buttons .btn {
    margin-bottom: 30px
}

.space-70 {
    height: 70px;
    display: block;
}

.tim-row {
    margin-bottom: 20px;
}

.tim-typo {
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}

.tim-typo .tim-note {
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}

.tim-row {
    padding-top: 50px;
}

.tim-row h3 {
    margin-top: 0;
}

.label-android {
  text-align: center;
  background-color: #761c19;
  color: #fff;
  box-shadow: 0 2px 2px 0 rgba(85, 172, 238, 0.14), 0 3px 1px -2px rgba(85, 172, 238, 0.2), 0 1px 5px 0 rgba(85, 172, 238, 0.12);
  width: 100px;
}
.label-ios {
  text-align: center;
  background-color: #2b542c;
  color: #fff;
  box-shadow: 0 2px 2px 0 rgba(85, 172, 238, 0.14), 0 3px 1px -2px rgba(85, 172, 238, 0.2), 0 1px 5px 0 rgba(85, 172, 238, 0.12);
  width: 100px;
}

.label-none {
  color: #00b9d0;
  font-weight: bold;
}

.label-optional {
  color: #0000ff;
  font-weight: bold;
}

.label-force {
  color: #ff0000;
  font-weight: bold;
}

.label-green {
  color: #2b542c;
  font-weight: bold;
}

.label-ginger {
  color: #d58512;
  font-weight: bold;
}

.flag {
  width: 40px;
  height: 25px;
  margin: 5px;
}
.flags {
  margin-left: 10px;
  margin-right: 10px;
}

.label-production, .label-open, .label-dev {
  text-align: center;
  background-color: #3b5998;
  color: #fff;
  box-shadow: 0 2px 2px 0 rgba(59, 89, 152, 0.14), 0 3px 1px -2px rgba(59, 89, 152, 0.2), 0 1px 5px 0 rgba(59, 89, 152, 0.12);
  width: 100px;
}

.label-developer {
  text-align: center;
  background-color: #55acee;
  color: #fff;
  box-shadow: 0 2px 2px 0 rgba(85, 172, 238, 0.14), 0 3px 1px -2px rgba(85, 172, 238, 0.2), 0 1px 5px 0 rgba(85, 172, 238, 0.12);
  width: 100px;
}

.label-staging, .label-progress, .label-admin {
  text-align: center;
  background-color: #d02930;
  color: #fff;
  box-shadow: 0 2px 2px 0 rgba(85, 172, 238, 0.14), 0 3px 1px -2px rgba(85, 172, 238, 0.2), 0 1px 5px 0 rgba(85, 172, 238, 0.12);
  width: 100px;
}

.label-close {
  text-align: center;
  background-color: #43ae59;
  color: #fff;
  box-shadow: 0 2px 2px 0 rgba(85, 172, 238, 0.14), 0 3px 1px -2px rgba(85, 172, 238, 0.2), 0 1px 5px 0 rgba(85, 172, 238, 0.12);
  width: 100px;
}

.content {
  word-break: break-all;
}

.button-menu {
   padding-left: 16px;
}

.btn-menu {
  width: 200px;
}

.input-lg {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  background-color: #ffffff;
  border: solid 1px #000000;
  padding-left: 6px;
}
.input-std {
  width: 300px;
  height: 40px;
  border-radius: 6px;
  background-color: #ffffff;
  border: solid 1px #000000;
  padding-left: 6px;
}

.cb-std {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  background-color: #ffffff;
  border: solid 1px #000000;
}

.input-small {
  width: 200px;
  height: 40px;
  border-radius: 6px;
  background-color: #ffffff;
  border: solid 1px #000000;
  padding-left: 6px;
  padding-right: 6px;
}

.btn-tr-df {
  margin: 0 !important;
}
.btn-tr-reload {
  margin: 0 !important;
  background-color: #999999;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  width: 40px;
  height: 40px;
}

.form-tr-df {
  margin-top: 6px;
  margin-bottom: 6px;
}

.ta-tr-list {
  width: 100%;
  height: 300px;
  resize: none;
  overflow-y: scroll;
}
.id-img {
  width: 200px !important;
  height: 150px !important;
  border: solid 1px #000000;
  border-radius: 6px;
}

.id-img:hover {
  cursor: pointer;
  opacity: 0.4;
}

.sort-gr { float: right; }

.title_user {
  vertical-align: top !important;
  text-align: right;
  width: 20%;
  word-wrap: break-word;
  background-color: #eeeeee;
}

.img-avatar {
  width: 100px !important;
  height: 100px !important;
  border-radius: 50%;
}

.lb-blue {
  width: 150px;
  height: 30px;
  background-color: #1e88e5;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  padding-top: 5px;
}
.lb-green {
  width: 150px;
  height: 30px;
  background-color: #1e7e34;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  padding-top: 5px;
}
.lb-yellow {
  width: 150px;
  height: 30px;
  background-color: #fff000;
  text-align: center;
  color: #000000;
  font-weight: bold;
  padding-top: 5px;
}
.lb-red {
  width: 150px;
  height: 30px;
  background-color: #a94442;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  font-weight: bold;
  padding-top: 5px;
}
 .img-avatar-tmb {
   width: 200px !important;
   height: 150px !important;
   border: solid 1px #000000;
   border-radius: 6px;
 }

 .img-id-tmb {
   width: 200px !important;
   height: 150px !important;
   border: solid 1px #000000;
   border-radius: 6px;
 }
.lb-no-data {
  font-weight: bold;
  font-size: 30px;
  color: #1e7e34;
  padding-top: 5px;
}

.sp-blue {
  font-weight: bold;
  color: #0000ff;
  margin-right: 32px;
}
.sp-red {
  font-weight: bold;
  color: #ff0000;
  margin-right: 32px;
}

.sp-yellow {
  font-weight: bold;
  color: #000000;
  margin-right: 32px;
}

.input-env {
  border: solid 1px #00e676;
  border-radius: 6px;
  width: 92%;
  height: 40px;
  padding-left: 8px;
  padding-right: 2px;
}

.input-env-small {
  border: solid 1px #00e676;
  border-radius: 6px;
  width: 50%;
  height: 40px;
  padding-left: 8px;
  padding-right: 2px;
}

.ip-ed-para {
  background-color: #ffffff;
  border: solid 1px #a94442;
  border-radius: 6px;
  width: 75%;
  height: 40px;
  padding-left: 8px;
  padding-right: 2px;
}

.lb-env {
  text-align: right;
  width: 120px;
  padding-right: 2px;
}

/**
  CSS MODAL
 */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1050; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.modal-env {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1500; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
.json-pretty {
  padding-left: 30px;
  padding-right: 30px;
}
.json-selected {
  background-color: rgba(139, 191, 228, 0.19999999999999996);
}

.json-string {
  color: #6caedd;
}

.json-key {
  color: #ec5f67;
}

.json-boolean {
  color: #99c794;
}

.json-number {
  color: #99c794;
}

.cache-data-area {
  background-color: #ffffff;
  border: solid 1px #000000;
  border-radius: 6px;
  padding: 16px;
  min-height: 100px;
}

.modal-delete {
  width: 50% !important;
}
